// DEFAULT UNORDERED LIST
.chapter__list {
  &__wrapper {
    @include mq($from: tablet) {
      position: relative;
    }

    + .chapter__list__wrapper {
      margin-top: 3.5rem;
    }
  }

  &__image {
    width: 5rem;
    height: auto;
    margin: 0 auto 2rem;

    @include mq($from: tablet) {
      position: absolute;
      transform: translate(-120%, 2.5rem);
    }
    @include mq($from: desktop) {
      transform: translate(-160%, 2.5rem);
    }
  }

  &__points {
    padding-left: 1rem;

    > li {
      + li {
        margin-top: 1rem;
      }
    }
  }
}

// ORDERED LIST
.chapter__order-list {
  padding-left: 2.5rem;
  list-style-type: decimal;
  list-style-position: inside;

  li {
    position: relative;
    z-index: z(default);

    &::before {
      content: "";
      display: inline-block;
      width: 2rem;
      height: 1.25rem;
      position: absolute;
      z-index: z(behind);
      transform: translate(-2.375rem, 0);
      background-color: var(--list-title-background-color);
    }

    + li {
      margin-top: 1.25rem;
    }
  }
}
