.chapter__source {
  padding: 1rem 2rem 1rem 2.5rem;
  margin-top: 2.5rem;
  border-top: 1px solid var(--light-blue);
  border-bottom: 1px solid var(--light-blue);
  background: {
    color: transparent;
    image: url('../images/icons/bulb.svg');
    repeat: no-repeat;
    position: 0 0.75rem;
  }

  // MODIFIERS
  &--gear {
    background: {
      image: url('../images/icons/gear.svg');
      position: 0 1rem;
    }
  }

  // CHILDS
  > p {
    margin: 0;
    font-size: 0.875rem;
    color: var(--shadow-color-dark);
    word-break: break-all;

    > a {
      margin-left: 0.25rem;
      word-break: break-all;
    }
  }
}
