.course-title {
  width: 100%;
  max-width: 14.375rem;
  padding-left: 1rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  z-index: z(default);
  transform-origin: 0% 0%;
  transition: transform $medium $linear;
  will-change: transform;
  transform: translate(0, 4rem);
  pointer-events: none;

  @include mq($from: tablet) {
    padding-left: 2.5rem;
    transform: scale(1.2) translate(0, 3.5rem);
  }
  @include mq($from: desktop_large) {
    transform: scale(1.4) translate(0, 2.5rem);
  }

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: (z(default) - 2);
    border-top: 10rem solid transparent;
    border-left: 30rem solid var(--pattern-background-color-blue);
    border-bottom: 18rem solid transparent;
    transform: translate(0, -16rem);
    filter: drop-shadow(0 4px 2px hsla(0, 0%, 0%, 0.12));

    @include mq($from: tablet) {
      transform: translate(0, -16.5rem);
    }
  }

  &__image {
  }
}
