.dialog {
  width: 85vw;
  max-width: 32rem;
  box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.17);
  position: absolute;
  z-index: z(modal);
  left: 50%;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -1rem);
  transition: all $regular $ease-in;

  @include mq($from: tablet) {
    transform: translate(-50%, 1rem);
  }
  @include mq($from: desktop) {
    left: initial;
    right: 0;
    transform: translate(-1.5rem, 6rem);
    z-index: -1;
  }

  // MODIFIERS
  &--xl {
    max-width: 42rem;
  }

  // STATES
  &.is-visible {
    pointer-events: auto;
    opacity: 1;
    transition: all $regular $ease-in;
    transform: translate(-50%, -2rem);

    @include mq($from: tablet) {
      transform: translate(-50%, 0);
    }
    @include mq($from: desktop) {
      transform: translate(-1.5rem, 5rem);
    }
  }

  // OUTER WRAPPER
  &-wrapper {
    margin-top: 6.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
    position: relative;

    // MOBILE BACKGROUND
    &::after {
      content: '';
      display: block;
      width: 18.75rem;
      height: 11.0625rem;
      position: absolute;
      left: 50%;
      bottom: 0;
      z-index: (z(default) - 1);
      background: {
        image: url(../images/backgrounds/square-blue.svg);
        repeat: no-repeat;
        position: 50% 50%;
      }
      transform: translateX(-50%);
    }

    @include mq($from: desktop) {
      margin-bottom: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: z(default);
      transform: translate3d(140%, 0, 0);

      &::after {
        display: none;
      }
    }
  }

  // CHILDS
  &-header {
    height: 0.25rem;
    position: relative;
    background: var(--dialog-background);

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 1.0625rem;
      position: absolute;
      top: -1.0625rem;
      background: {
        image: url('../images/icons/dialog.svg');
        repeat: no-repeat;
        position: 0 0;
      }
    }
  }

  &-content {
    padding: 1.25rem 1.25rem 1.5rem;
    text-align: left;
    background: var(--dialog-background);
  }

  &__close {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    padding: 0;
    position: absolute;
    top: -1.125rem;
    right: -1.3125rem;
    border: none;
    background: transparent;
    transform: none;
    transition: transform $fast;

    // INTERACTIONS
    &:hover,
    &:focus {
      transition: transform $fast;
      transform: rotate(45deg);
    }

    // CHILDS
    > svg {
      display: inline-block;
      width: 2.75rem;
      height: 2.75rem;
    }
  }

  &__label {
    display: inline-block;
    min-width: 10rem;
    padding: 0.25rem 0.75rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: $bold;
    text-transform: uppercase;
    color: var(--list-title);
    background: var(--list-title-background);
  }

  &__title {
    font-size: 1rem;
    color: var(--terminal-title);
    font-weight: $bold;

    @include mq($from: desktop) {
      width: 80%;
    }
  }

  &__text {
    color: var(--shadow-light);

    @include mq($from: desktop) {
      width: 80%;
    }
  }
}
