.link {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: $bold;
    color: var(--secondary);
    text-decoration-style: wavy;
    text-decoration-skip: ink;
    text-decoration: var(--primary);

    @include mq($from: tablet) {
        font-size: 1rem;
    }

    &:hover,
    &:focus {
        color: var(--secondary-dark);
        text-decoration: var(--primary-dark);
    }
}