// ---------------------------------------------------
// Post Content
// ---------------------------------------------------

$headerOffset: 11.25rem;
$headerMarginBottom: 2.25rem;

.post {
  display: grid;
  grid-template-columns: 1fr 1fr minmax(auto, var(--post-wrapper)) 1fr 1fr;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 6rem;

  &-content {
    grid-column: 3 / 4;

    &__header {
      position: relative;
      background: var(--neutral-200);

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        width: 100vw;
        height: calc(100% + #{$headerOffset} + #{$headerMarginBottom});
        background-color: var(--neutral-200);
        z-index: -1;
        transform: translate(-50%, ($headerOffset * -1));
      }
    }

    time {
      display: inline-block;
      margin-bottom: 1.5rem;
    }

    h1 {
      margin-bottom: calc(4rem + 3vw);
      font-size: calc(1rem + 3vw);
      font-weight: $bold;
      color: currentColor;
      
      @include mq($from: tablet) {
        font-size: calc(2rem + 1vw);
        margin-bottom: calc(6rem + 3vw);
      }
    }

    h2 {
      margin-top: calc(2.5rem + 1.5vw);
      margin-bottom: calc(1rem + 1.5vw);
      font-size: calc(1rem + 1.5vw);
      font-weight: $bold;
      color: currentColor;
      
      @include mq($from: tablet) {
        margin-top: calc(2.75rem + 1.5vw);
        margin-bottom: calc(1.25rem + 1.5vw);
        font-size: calc(1.25rem + 1vw);
      }      
    }

    p {
      font-size: calc(1rem + 0.125vw);
      line-height: 1.65;
    }

    ul {
      li {
        font-size: calc(1rem + 0.125vw);
        line-height: 1.65;
      }
    }

    a {
        @include link;
    }
  
  }
}
