.test {
  padding: 2rem 1.25rem;

  // OUTER WRAPPER
  &-wrapper {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: ($radius / 2);
    background-color: var(--shadow-color-light);
    box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.17);
    overflow: hidden;
    position: relative;
    // counter-reset: test-counter;

    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.375rem;
      position: absolute;
      background-color: var(--terminal-title-color);
    }

    @include mq($from: tablet) {
      margin-bottom: 3.5rem;
    }
    @include mq($from: desktop) {
      margin-bottom: 5rem;
    }
  }

  &__dots {
    display: flex;
    margin-bottom: 1rem;
    list-style-type: none;

    > li {
      background: var(--test-button-background-color);
      width: 0.625rem;
      height: 0.625rem;
      border-radius: 50%;
      opacity: 0.33;

      + li {
        margin-left: 0.75rem;
      }

      // STATES
      &.is-active {
        opacity: 1;
      }
    }
  }

  &__title {
    font-size: 1rem;
    color: var(--terminal-title-color);
    font-weight: $bold;

    // &::before {
    //   counter-increment: test-counter;
    //   content: counter(test-counter) ". ";
    // }
  }

  &__info {
    // flex: 1 1 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include mq($from: mobile_landscape) {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &__text {
    margin: 1rem 0 2rem;
    color: var(--primary-text-color);
  }

  &__figure {
    width: 100%;
    height: auto;
    margin: 1rem 0 2rem;

    @include mq($from: mobile_landscape) {
      flex: 0 0 7rem;
      margin-left: 2rem;
    }
  }

  &__select {
    width: 100%;
    height: 2.25rem;
    border: 0.125rem solid var(--terminal-title-color);
    // appearance: none;
    // padding: 0.25rem;

    // STATES
    // &.is-wrong {
    //   border-color: inherit;
    //   color: var(--error-color);
    // }
  }

  &__feedback {
    display: none;
    padding: 1rem 0;
    margin-top: 1.5rem;
    position: relative;

    &::before,
    &::after {
      content: '- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ';
      display: block;
      width: 100%;
      height: 0;
      color: currentColor;
      position: absolute;
      left: 0;
      line-height: 0;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    // STATES
    &[class*='is-'] {
      display: flex;
      align-items: center;
    }

    &.is-valid {
      color: var(--success-color);
    }

    &.is-invalid {
      color: var(--error-color);
    }

    // CHILDS
    &__icon {
      flex: 0 0 2rem;
      width: 2rem;
      height: 2rem;
      margin-right: 1.5rem;
      fill: currentColor;
    }

    &__text {
      margin: 0;
      font-style: italic;

      &--bold {
        font-weight: $bold;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1.25rem 1.5rem;
    text-align: center;

    .button {
      flex: 1 0 0;
      max-width: 6rem;

      @include mq($from: tablet) {
        flex: 0 0 auto;
        max-width: initial;
      }

      .mb {
        @include mq($from: tablet) {
          display: none;
        }
      }

      .tb {
        display: none;

        @include mq($from: tablet) {
          display: inline-block;
        }
      }

      // STATES
      &.is-hidden {
        opacity: 0;
        pointer-events: none;
      }

      // MODIFIERS
      &--prev {
        padding-left: 0;
        padding-right: 0;
        border: 0;
        text-align: left;
        text-transform: none;
        color: var(--test-button-background-color);
        background-image: none;
        background-color: transparent;

        &::before {
          content: '<';
          display: inline-block;
          margin-right: 0.5rem;
        }
      }
    }
  }
}
