// ---------------------------------------------------
// WORKS
// ---------------------------------------------------

.works {

  &__list {
    display: grid;
    grid-auto-flow: dense; 
    grid-gap: 1.25rem;
    grid-template-columns: 1fr;
    margin-top: 2rem;
    margin-bottom: 6rem;
    list-style: none;

    @include mq($from: tablet) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include mq($from: desktop) {
      width: var(--inner-wrapper);
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    color: var(--secondary);
    border: 0.0625rem solid var(--shadow);
    background: var(--white);
    // transition: all $fast $ease-in;
    
    @include mq($from: tablet) {
      grid-column: span 2;

      &:nth-child(1) {
        grid-column: span 4;
      }
      &:nth-child(3n+5) {
        grid-column: span 4;
        // grid-row: span 2;
      }
    }
    
    &:hover,
    &:focus {
      border-color: var(--primary);
      color: var(--primary);
    }

    > h2 {
      margin-bottom: 1rem;
      font-size: 1.75rem;
      font-weight: $bold;
      color: currentColor;
      // transition: color $fast $ease-in;
    }

    &__tags {
      margin: 0.5rem 0;
      font-size: 0.875rem;
      font-weight: $regular;
    }

    > p {
      flex: 1;
    }

    > p,
    span {
      color: var(--secondary);
    }
  }
}
