$computedHeight: 20rem;

.home {
  &__header {
    flex: 0;
    max-width: 15rem;
    padding: 1.5rem 2rem;
    background-color: transparent;
    position: relative;
    z-index: z(default);

    @include mq($from: tablet) {
      padding: 2rem 5rem;
    }

    &::after {
      content: '';
      display: block;
      width: 25rem;
      height: 10rem;
      border-radius: 1rem;
      background-color: var(--white-color);
      position: absolute;
      top: 0;
      left: 0;
      z-index: (z(default) - 2);
      transform: scaleY(0.866) skew(30deg) rotate(-25deg)
        translate3d(0rem, -6rem, 0);

      @include mq($from: tablet) {
        transform: scaleY(0.866) skew(30deg) rotate(-25deg)
          translate3d(8rem, -6rem, 0) scale(1.5);
      }
      @include mq($from: desktop) {
        transform: scaleY(0.866) skew(30deg) rotate(-25deg)
          translate3d(7rem, -5rem, 0) scale(1.5);
      }
    }

    &__logo {
      width: 4.375rem;
      height: 4rem;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    @include mq($from: desktop) {
      max-height: calc(100vh - #{$computedHeight});
    }
  }

  &__main-svg {
    height: 100%;
  }

  &__footer {
    flex: 0;
    padding: 1rem;
    text-align: center;
    position: relative;

    @include mq($from: tablet) {
      align-self: flex-end;
      max-width: 30rem;
      padding: 0 1.5rem 2rem;
      text-align: right;
      z-index: z(default);
    }
    @include mq($from: tablet) {
      padding: 0 2.5rem 2rem 0;
    }

    > svg {
      display: none;
      transition: transform $medium;

      @include mq($from: tablet) {
        display: block;
        position: absolute;
        z-index: z(default);
        top: -150%;
        left: 50%;
        transform: translateX(-50%);
        // animation: drone-1 5000ms infinite forwards;

        // .cord,
        // .gift {
        //   animation: drone-2 4000ms infinite forwards;
        // }
      }
    }
  }

  &__summary {
    max-width: 18.5rem;
    margin: 1.5rem auto 0;

    > * {
      display: inline-block;
    }
  }
}
