.chapter-5 {
  position: relative;
  overflow: hidden;

  > .wrapper {
    position: relative;
  }

  .chapter-header__image {
    @include mq($from: mobile_landscape) {
      height: 25.375rem;
      margin-top: 4.5rem;
    }
  }

  .dialog-wrapper {
    @include mq($from: desktop) {
      right: 1rem;
      bottom: 7rem;
    }
    @include mq($from: wrapper_max_width) {
      right: -6rem;
      bottom: 7rem;
    }
  }

  .blue-left {
    --factor: 1;
    width: calc((486px / 2) * var(--factor));
    height: calc((590px / 2) * var(--factor));
    position: absolute;
    top: 0;
    left: 0;

    @include mq($from: tablet) {
      --factor: 1.5;
      transform: translate(0, 24rem);
    }
    @include mq($from: desktop) {
      --factor: 2;
      transform: translate(0, 20rem);
    }
  }

  .stuff-1 {
    --factor: 0;
    width: calc((171px / 2) * var(--factor));
    height: calc((185px / 2) * var(--factor));
    position: absolute;
    top: 0;
    left: 0;
    background: {
      // color: $dev;
      image: url(../images/backgrounds/stuff-1.svg);
    }

    @include mq($from: tablet) {
      --factor: 2;
      transform: translate(-6rem, 31rem);
    }
    @include mq($from: desktop) {
      transform: translate(0rem, 31rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(10rem, 31rem);
    }
  }

  .stuff-2 {
    --factor: 0;
    width: calc((359px / 2) * var(--factor));
    height: calc((285px / 2) * var(--factor));
    position: absolute;
    top: 0;
    right: 0;
    background: {
      // color: $dev;
      image: url(../images/backgrounds/stuff-2.svg);
    }

    @include mq($from: tablet) {
      --factor: 2;
      transform: translate(11rem, 7rem);
    }
    @include mq($from: desktop) {
      transform: translate(5rem, 7rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(0, 7rem);
    }
  }

  .space-invader {
    --factor: 0;
    width: calc((238px / 2) * var(--factor));
    height: calc((148px / 2) * var(--factor));
    position: absolute;
    top: 0;
    left: 0;

    @include mq($from: tablet) {
      --factor: 2;
      transform: translate(-9rem, 46rem);
    }
    @include mq($from: desktop) {
      transform: translate(-5rem, 48rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(6rem, 48rem);
    }
  }

  .robot {
    cursor: pointer;

    > * {
      pointer-events: none;
    }

    &-dialog {
      transition: opacity $medium $ease-in;
      opacity: 1;
    }
  }

  .modal.is-visible + .robot {
    .robot-dialog {
      transition: opacity $medium $ease-in;
      opacity: 0;
    }
  }
}
