.chapter-1 {
  position: relative;
  overflow: hidden;

  @include mq($from: tablet) {
    padding: 7rem 0 6rem;
  }

  > .wrapper {
    position: relative;
  }

  .chapter-header__image-cover {
    margin-top: 10rem;

    @include mq($from: tablet) {
      margin-top: 0;
    }
  }

  .blue-blue-right {
    --factor: 2;
    width: calc((319px / 2) * var(--factor));
    height: calc((495px / 2) * var(--factor));
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 38rem);

    @include mq($from: wrapper_max_width) {
      --factor: 3;
      transform: translate(0, 30rem);
    }
  }

  .blue-blue-left {
    --factor: 1;
    width: calc((475px / 2) * var(--factor));
    height: calc((673px / 2) * var(--factor));
    position: absolute;
    bottom: 0;
    left: 0;

    @include mq($from: tablet) {
      --factor: 2;
    }
    @include mq($from: wrapper_max_width) {
      --factor: 2.25;
    }
  }

  .blue-yellow-left {
    --factor: 1;
    width: calc(243px * var(--factor));
    height: calc(345px * var(--factor));
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 45rem);

    @include mq($from: mobile_landscape) {
      transform: translate(0, 62rem);
    }
    @include mq($from: tablet) {
      --factor: 1.5;
    }
    @include mq($from: desktop) {
      --factor: 2;
    }
  }

  .blue-yellow-right {
    --factor: 0;
    width: calc((486px / 2) * var(--factor));
    height: calc((689px / 2) * var(--factor));
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 118rem);

    @include mq($from: tablet) {
      --factor: 1;
    }
    @include mq($from: desktop) {
      --factor: 2;
      transform: translate(0, 115rem);
    }
  }

  .space-invader {
    --factor: 0;
    width: calc((104px / 2) * var(--factor));
    height: calc((174px / 2) * var(--factor));
    position: absolute;
    top: 0;
    right: 0;
    background: {
      // color: $dev;
      image: url(../images/backgrounds/space-invader.svg);
    }

    @include mq($from: tablet) {
      --factor: 2;
      transform: translate(-3rem, 60rem);
    }
    @include mq($from: desktop) {
      transform: translate(-2rem, 60rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(-14rem, 61rem);
    }
  }

  .pacman {
    --factor: 0;
    width: calc((162px / 2) * var(--factor));
    height: calc((280px / 2) * var(--factor));
    position: absolute;
    top: 0;
    left: 0;
    background: {
      // color: $dev;
      image: url(../images/backgrounds/pacman.svg);
      repeat: no-repeat;
    }

    @include mq($from: tablet) {
      --factor: 2;
      transform: translate(-7rem, 38rem);
    }
    @include mq($from: desktop) {
      transform: translate(-3rem, 38rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(10rem, 35rem);
    }
  }

  .stuff-9 {
    --factor: 0;
    width: calc((236px / 2) * var(--factor));
    height: calc((152px / 2) * var(--factor));
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    @include mq($from: tablet) {
      --factor: 2;
      transform: translate(8rem, 32rem);
    }
    @include mq($from: desktop) {
      transform: translate(4rem, 35rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(-10rem, 35rem);
    }

    // MODIFIERS
    &--bis {
      @include mq($from: tablet) {
        --factor: 1;
        right: initial;
        left: 0;
        transform: translate(-5rem, 93rem);
      }
      @include mq($from: desktop) {
        transform: translate(2rem, 99rem);
      }
      @include mq($from: wrapper_max_width) {
        transform: translate(10rem, 95rem);
      }
    }
  }

  .woman-with-computer {
    --factor: 0;
    width: calc((174px / 2) * var(--factor));
    height: calc((212px / 2) * var(--factor));
    position: absolute;
    top: 0;
    left: 0;
    background: {
      // color: $dev;
      image: url(../images/backgrounds/woman-with-computer.svg);
    }

    @include mq($from: tablet) {
      --factor: 2;
      transform: translate(-7rem, 70rem);
    }
    @include mq($from: desktop) {
      transform: translate(-1rem, 70rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(0, 70rem);
    }
  }

  .space-invader-2 {
    --factor: 0;
    width: calc((109px / 2) * var(--factor));
    height: calc((95px / 2) * var(--factor));
    position: absolute;
    top: 0;
    left: 0;

    @include mq($from: tablet) {
      --factor: 3;
      transform: translate(-6rem, 117rem);
    }
    @include mq($from: desktop) {
      --factor: 3.25;
      transform: translate(-3rem, 119rem);
    }
    @include mq($from: desktop_large) {
      transform: translate(11rem, 118rem);
    }
  }

  .man-with-graphics {
    --factor: 0;
    width: calc((406px / 2) * var(--factor));
    height: calc((489px / 2) * var(--factor));
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: {
      // color: $dev;
      image: url(../images/backgrounds/man-with-graphics.svg);
    }

    @include mq($from: desktop) {
      --factor: 2;
      transform: translate(6rem, 112rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(0, 111rem);
    }
  }

  .round-graphics {
    --factor: 0;
    width: calc((159px / 2) * var(--factor));
    height: calc((96px / 2) * var(--factor));
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;

    @include mq($from: tablet) {
      --factor: 2.5;
      transform: translate(10rem, -8rem);
    }
    @include mq($from: desktop) {
      transform: translate(3rem, -7rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(-6rem, -7rem);
    }
  }

  .woman-with-graphics-left {
    --factor: 0;
    width: calc((179px / 2) * var(--factor));
    height: calc((214px / 2) * var(--factor));
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: {
      image: url(../images/backgrounds/woman-with-graphics-left.svg);
    }
    transform: translate(-8rem, -28rem);

    @include mq($from: tablet) {
      --factor: 2;
    }
    @include mq($from: desktop) {
      transform: translate(-2rem, -28rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(10rem, -28rem);
    }
  }
}
