$chapter4ImageMaxWidth: 55.625rem;

.chapter-4 {
  position: relative;

  @include mq($from: tablet) {
    overflow: hidden;
    background: {
      color: transparent;
      image: url('../images/backgrounds/yellow-left.svg');
      repeat: no-repeat;
      position: -11.5rem 5.5rem;
      size: 28.875rem auto;
    }
  }
  @include mq($from: desktop) {
    background: {
      position: -5rem 5.5rem;
    }
  }
  @include mq($from: wrapper_max_width) {
    background: {
      position: 0 5.5rem;
    }
  }

  .chapter-header__image {
    display: none;

    @include mq($from: tablet) {
      display: block;
      width: var(--image-max-width);
      position: relative;
      left: 50%;
      transform: translate(-50%);
    }
    // @include mq($from: tablet) {
    //   width: 90vw;
    //   transform: translateX(calc(calc(calc(90vw - 544px) / 2) * -1));
    // }
    // @include mq($from: desktop) {
    //   width: $chapter4ImageMaxWidth;
    //   transform: translateX(
    //     calc(
    //       calc(calc(#{$chapter4ImageMaxWidth} - var(--wrapper-max-width)) / 2) *
    //         -1
    //     )
    //   );
    // }
  }

  .chapter-subcontent__container {
    position: relative;

    .chapter__subtle-image {
      margin-bottom: 1rem;

      @include mq($from: tablet) {
        position: absolute;
        top: 0;
        left: 0;
      }

      // IMAGES
      &.-folder {
        width: 2rem;
        height: 4.03125rem;

        @include mq($from: tablet) {
          transform: translate(-5.25rem, 0);
        }
        @include mq($from: desktop) {
          width: 4rem;
          height: 8.0625rem;
          transform: translate(-6.75rem, 0);
        }
      }

      &.-gear {
        width: 2.0625rem;
        height: 2rem;

        @include mq($from: tablet) {
          transform: translate(-5.25rem, 0);
        }
        @include mq($from: desktop) {
          width: 4.125rem;
          height: 4rem;
          transform: translate(-6.75rem, 0);
        }
      }

      &.-camera {
        width: 2rem;
        height: 1.75rem;

        @include mq($from: tablet) {
          transform: translate(-5.25rem, 0);
        }
        @include mq($from: desktop) {
          width: 4rem;
          height: 3.5rem;
          transform: translate(-6.75rem, 0);
        }
      }
    }
  }

  // DIALOGS
  .dialog-wrapper {
    &--1 {
      // border: 4px solid $dev;

      @include mq($from: desktop) {
        transform: translate3d(135%, -15rem, 0);
      }
      @include mq($from: wrapper_max_width) {
        transform: translate3d(205%, -15rem, 0);
      }
    }
    &--2 {
      // border: 4px solid $dev-1;

      @include mq($from: desktop) {
        top: 0;
        left: 0;
        right: initial;
        bottom: initial;
        transform: translate3d(-130%, -15rem, 0);

        .dialog {
          transform: translate(21.5rem, 4rem);

          &.is-visible {
            transform: translate(21.5rem, 3rem);

            + .robot {
              .robot-dialog {
                transform: scaleX(-1) translateY(-0.25rem) translateX(-10rem);
              }
            }
          }
        }
        .dialog-content {
          text-align: right;
          padding-right: 2rem;
        }
        .dialog__text,
        .dialog__title {
          margin-left: 20%;
        }

        .robot.robot.js-modal {
          transform: scaleX(-1);
        }

        .robot-dialog {
          transform: scaleX(-1) translateX(-10rem);
        }
      }
      @include mq($from: wrapper_max_width) {
        transform: translate3d(-215%, -15rem, 0);
      }
    }
    &--3 {
      // border: 4px solid $dev-3;

      @include mq($from: desktop) {
        transform: translate3d(135%, 0, 0);
      }
      @include mq($from: wrapper_max_width) {
        transform: translate3d(205%, 0, 0);
      }
    }
    &--4 {
      // border: 4px solid $dev-2;

      @include mq($from: desktop) {
        transform: translate3d(135%, -4rem, 0);
      }
      @include mq($from: wrapper_max_width) {
        transform: translate3d(205%, -4rem, 0);
      }
    }
    &--5 {
      // border: 4px solid lightgreen;

      @include mq($from: desktop) {
        transform: translate3d(135%, -8rem, 0);
      }
      @include mq($from: wrapper_max_width) {
        transform: translate3d(205%, -8rem, 0);
      }
    }
  }

  // BACKGROUNDS
  .round-graphics {
    --factor: 0;
    width: calc((159px / 2) * var(--factor));
    height: calc((96px / 2) * var(--factor));
    position: absolute;
    top: 0;
    left: 0;

    @include mq($from: tablet) {
      --factor: 2;
      transform: scaleX(-1) translate(5.5rem, 33.5rem);
    }
    @include mq($from: desktop) {
      transform: scaleX(-1) translate(-2.5rem, 33rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: scaleX(-1) translate(-11rem, 31rem);
    }
  }

  .blue-blue-right {
    --factor: 0;
    width: calc((319px / 2) * var(--factor));
    height: calc((495px / 2) * var(--factor));
    position: absolute;
    top: 0;
    right: 0;

    @include mq($from: tablet) {
      --factor: 2;
      transform: translate(6rem, 83rem);
    }
    @include mq($from: desktop) {
      transform: translate(0, 106rem);
    }
    @include mq($from: wrapper_max_width) {
      --factor: 3.5;
      transform: translate(0, 99rem);
    }

    // MODIFIERS
    &--2 {
      @include mq($from: tablet) {
        transform: translate(5rem, 345rem);
      }
      @include mq($from: desktop) {
        transform: translate(0, 315rem);
      }
      @include mq($from: wrapper_max_width) {
        transform: translate(0, 310rem);
      }
    }
  }

  .blue-yellow-left {
    --factor: 0;
    width: calc(243px * var(--factor));
    height: calc(345px * var(--factor));
    position: absolute;
    top: 0;
    left: 0;

    @include mq($from: tablet) {
      --factor: 1;
      transform: translate(0, 126rem);
    }
    @include mq($from: desktop) {
      --factor: 2;
      transform: translate(-8rem, 140rem);
    }
    @include mq($from: wrapper_max_width) {
      --factor: 2.25;
      transform: translate(0, 145rem);
    }

    // MODIFIERS
    &--2 {
      @include mq($from: tablet) {
        transform: translate(0, 370rem);
      }
      @include mq($from: desktop) {
        transform: translate(0, 344rem);
      }
      @include mq($from: wrapper_max_width) {
        transform: translate(0, 345rem);
      }
    }

    &--3 {
      @include mq($from: tablet) {
        top: initial;
        bottom: 0;
        transform: none;
      }
      @include mq($from: desktop) {
        transform: translate(-8rem, 0);
      }
      @include mq($from: wrapper_max_width) {
        transform: none;
      }
    }
  }

  .blue-right {
    --factor: 0;
    width: calc((358px / 2) * var(--factor));
    height: calc((444px / 2) * var(--factor));
    position: absolute;
    top: 0;
    right: 0;

    @include mq($from: desktop) {
      --factor: 2;
      transform: translate(0, 175rem);
    }

    // MODIFIERS
    &--bis {
      @include mq($from: desktop) {
        transform: translate(0, 225rem);
      }
    }

    &--2 {
      @include mq($from: desktop) {
        transform: translate(0, 380rem);
      }
    }

    &--3 {
      @include mq($from: desktop) {
        top: initial;
        bottom: 0;
        transform: translate(0, -10rem);
      }
    }
  }

  .blue-left {
    --factor: 0;
    width: calc((358px / 2) * var(--factor));
    height: calc((444px / 2) * var(--factor));
    position: absolute;
    top: 0;
    left: 0;

    @include mq($from: desktop) {
      --factor: 2;
      transform: translate(0, 204rem);
    }
  }

  .girl-with-graphics {
    --factor: 0;
    width: calc((125px / 2) * var(--factor));
    height: calc((248px / 2) * var(--factor));
    position: absolute;
    top: 0;
    right: 0;
    background: {
      // color: $dev;
      image: url(../images/backgrounds/girl-with-graphics.svg);
    }

    @include mq($from: tablet) {
      --factor: 2;
      transform: translate(4rem, 81rem);
    }
    @include mq($from: desktop) {
      transform: translate(-4rem, 105rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(-14rem, 100rem);
    }
  }

  .stuff-5 {
    --factor: 0;
    width: calc((149px / 2) * var(--factor));
    height: calc((342px / 2) * var(--factor));
    position: absolute;
    top: 0;
    left: 0;
    background: {
      // color: $dev;
      image: url(../images/backgrounds/stuff-5.svg);
    }

    @include mq($from: tablet) {
      --factor: 2;
      transform: translate(-7rem, 118rem);
    }
    @include mq($from: desktop) {
      transform: translate(-1rem, 140rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(8rem, 140rem);
    }
  }

  .stuff-7 {
    --factor: 0;
    width: calc((195px / 2) * var(--factor));
    height: calc((230px / 2) * var(--factor));
    position: absolute;
    top: 0;
    right: 0;
    background: {
      // color: $dev;
      image: url(../images/backgrounds/stuff-7.svg);
    }

    @include mq($from: tablet) {
      --factor: 2;
      transform: translate(7rem, 225rem);
    }
    @include mq($from: desktop) {
      transform: translate(1rem, 202rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(-9rem, 202rem);
    }
  }

  .stuff-6 {
    --factor: 0;
    width: calc((203px / 2) * var(--factor));
    height: calc((437px / 2) * var(--factor));
    position: absolute;
    top: 0;
    right: 0;
    background: {
      // color: $dev;
      image: url(../images/backgrounds/stuff-6.svg);
    }

    @include mq($from: tablet) {
      --factor: 2;
      transform: translate(7rem, 343rem);
    }
    @include mq($from: desktop) {
      transform: translate(-2rem, 312rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(-8rem, 315rem);
    }
  }

  .kid-with-computer {
    --factor: 0;
    width: calc((165px / 2) * var(--factor));
    height: calc((366px / 2) * var(--factor));
    position: absolute;
    top: 0;
    left: 0;
    background: {
      // color: $dev;
      image: url(../images/backgrounds/kid-with-computer.svg);
    }

    @include mq($from: tablet) {
      --factor: 2;
      transform: translate(-8rem, 366rem);
    }
    @include mq($from: desktop) {
      transform: translate(-3rem, 344rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(11rem, 344rem);
    }
  }

  .icons-play-cubes {
    --factor: 0;
    width: calc((235px / 2) * var(--factor));
    height: calc((332px / 2) * var(--factor));
    position: absolute;
    bottom: 0;
    right: 0;
    background: {
      // color: $dev;
      image: url(../images/backgrounds/icons-play-cubes.svg);
    }

    @include mq($from: tablet) {
      --factor: 2;
      transform: translate(10rem, -69rem);
    }
    @include mq($from: desktop) {
      transform: translate(4rem, -49rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(-5rem, -44rem);
    }
  }

  .wall-e {
    --factor: 0;
    width: calc((161px / 2) * var(--factor));
    height: calc((420px / 2) * var(--factor));
    position: absolute;
    bottom: 0;
    left: 0;
    background: {
      // color: $dev;
      image: url(../images/backgrounds/wall-e.svg);
    }

    @include mq($from: desktop) {
      --factor: 2;
      transform: translate(-3rem, -8rem);
    }
    @include mq($from: wrapper_max_width) {
      transform: translate(9rem, -3rem);
    }
  }
}
