<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0066">
    <meta name="msapplication-TileColor" content="#ff0066">
    <meta name="theme-color" content="#ffffff">
    <title>
        {{ block "title" . }}
        {{ .Title }}
        {{ end }}
    </title>
    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
</head>

<body>
    <a class="main-content-anchor" href="#mainContent">Saltar al contenido</a>

    {{ partial "header.html" . }}

    {{ block "main" . }}

    {{end}}

    {{ partial "footer.html" . }}

    <script src="{{ "js/main.min.js" | relURL }}"></script>
</body>

</html>