{{ define "main" }}
<main id="mainContent" class="main">
    <ul class="posts__list">
        {{ range .Pages }}
        <li class="posts__item">
            <time>{{ dateFormat "02/01/2006" .Date }}</time>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

            {{ if .Params.tags }}
            <ul class="posts__tags">
                {{ range .Params.Tags }}
                <li>
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                </li>
                {{ end }}
            </ul>
            {{end}}
        </li>
        {{ end }}
    </ul>
</main>
{{ end }}