.main {
  flex: 1;
  padding: 0 1rem;
}

.work {
  margin-top: 3rem;
  margin-bottom: 6rem;
  list-style: none;

  @include mq($from: tablet) {
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: repeat(4, 1fr);

    > li {
      background: var(--white);
      grid-column: span 2;

      &:nth-child(3) {
        grid-column: span 4;
      }
    }
  }
  @include mq($from: desktop) {
    width: var(--inner-wrapper);
    margin-left: auto;
    margin-right: auto;
  }

  &__link {
    display: block;
    padding: 2.5rem;
    border: 0.0625rem solid var(--shadow);
    transition: all $fast $ease-in;

    &:hover,
    &:focus {
      border-color: var(--primary);
    }
  }
}
