.main {
  flex: 1;
  padding: 0 1rem;
}

.work__list {
  margin-top: 3rem;
  margin-bottom: 6rem;
  list-style: none;

  @include mq($from: tablet) {
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: repeat(4, 1fr);
  }
  @include mq($from: desktop) {
    width: var(--inner-wrapper);
    margin-left: auto;
    margin-right: auto;
  }
}

.work__item {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  color: var(--secondary);
  border: 0.0625rem solid currentColor;
  background: var(--white);
  transition: all $fast $ease-in;
  
  &:hover,
  &:focus {
    color: var(--primary);
  }

  &:nth-child(3) {
    grid-column: span 4;
  }

  > h2 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: $bold;
    transition: color $fast $ease-in;
  }

  &__tags {
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    font-weight: $medium;
  }

  > p {
    flex: 1;
  }

  > p,
  span {
    color: var(--secondary);
  }
}

