.nav {
  max-width: var(--inner-wrapper);
  margin-left: auto;
  margin-right: auto;

  // CHILDS
  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

    li {

      + li {
        margin-left: 1.5rem;
      }

      &:first-child {
        margin-right: auto;
      }
    }

    a {
      display: block;

      svg {
        transform: translateY(0.1875rem);
      }
    }
  }

  &__link {
    padding-bottom: 0.0625rem;
    font-weight: $bold;
    color: var(--secondary);
    text-decoration: none;
    border-bottom: 0.125rem solid transparent;
    transition: all $regular $ease-in;

    &:hover,
    &:focus {
      color: var(--primary);
    }

    &.is-active {
      border-color: var(--primary);
    }
  }
}