{{ define "navigation" }}
<nav class="nav">
    <ul class="nav__list">
        <li>
            <h1>
                <a href="/" title="Mamutlove.com">
                    <span class="sr-only">Volver a la página de inicio</span>
                    <svg width="32" height="28">
                        <use xlink:href="/images/icons/sprite.svg#mamutlove"></use>
                    </svg>
                </a>
            </h1>
        </li>
        {{ $currentPage := . }}
        {{ range .Site.Menus.nav }}
        {{ $is := $currentPage.IsMenuCurrent "nav" . }}
        {{ $has := $currentPage.HasMenuCurrent "nav" . }}
        <li>
            <a class="nav__link {{ if or $is $has }}is-active{{ end }}" href="{{ .URL }}">{{- .Name -}}</a>
        </li>
        {{ end }}
        <!-- <li>
            <button class="nav__button js-toggle-theme">
                <svg width="24" height="24">
                    <use xlink:href="/images/icons/sprite.svg#settings"></use>
                </svg>
            </button>
        </li> -->
    </ul>
</nav>
{{end}}