// Dev
//-----------
$dev: #f06;
$dev-1: rgb(20, 140, 220);
$dev-2: rgb(125, 34, 178);
$dev-3: yellowgreen;

// Namespace
// -----------
$namespace: 'ie';

// Brand Colours
//-----------
:root {
  --white-color: #ffffff;
  --black-color: #000000;

  --primary-color: #0094f8;
  --primary-lighten-color: #cae8fd;
  --primary-darken-color: #027cce;
  --secondary-color: #bd10e0;

  --primary-title-color: #272555;
  --secondary-title-color: #272555;

  --primary-text-color: #4a4a4a;
  --secondary-text-color: #fffbcf;

  --list-title-color: var(--primary-title-color);
  --list-title-background-color: #f6e000;

  --menu-text-color: #455ca0;
  --menu-active-text-color: var(--primary-title-color);
  --menu-background-mobile-color: hsla(204, 48%, 21%, 0.96);

  --shadow-color-lightest: #f7f7f7;
  --shadow-color-light: #f2f2f2;
  --shadow-color: #d6d5d5;
  --shadow-color-dark: #969696;
  --shadow-color-darkest: #444444;

  --light-blue: #d9eaf1;

  --error-color: #cf4d2f;
  --success-color: #0bb970;

  --test-button-background-color: #0bb970;
  --test-button-border-color: #099359;

  --pattern-background-color-blue: #dbebf2;
  --pattern-background-color: #6ba3b9;

  --terminal-title-color: #0bb970;
  --terminal-background-color: #1c3b50;

  --dialog-title-color: var(--terminal-title-color);
  --dialog-background-color: #31475a;

  --tab-legend-color: #98a7d7;
  --tab-button-color: var(--dialog-background-color);
  --tab-button-inactive-color: #fcb308;
  --tab-content-background-color: #f5f3f5;
  --tab-background-color: var(--terminal-background-color);

  --light-gradient: linear-gradient(
    42deg,
    rgba(248, 248, 248, 1) 0%,
    rgba(237, 237, 237, 1) 100%
  );

  --shadow-gradient: linear-gradient(
    0deg,
    rgba(70, 70, 70, 0) 35%,
    rgba(70, 70, 70, 0.77) 100%
  );

  --button-primary-text-color: var(--secondary-text-color);
  --button-primary-background-color: #0094f8;
  --button-primary-border-color: #027cce;
  --button-primary-hover-text-color: var(--white-color);
  --button-primary-hover-background-color: #35aeff;
  --button-primary-hover-border-color: #0097fc;

  --button-secondary-text-color: var(--secondary-text-color);
  --button-secondary-background-color: #0bb970;
  --button-secondary-border-color: #099359;
  --button-secondary-hover-text-color: var(--white-color);
  --button-secondary-hover-background-color: #00d47b;
  --button-secondary-hover-border-color: #04be70;

  --button-active-text-color: #1c3b50;
  --button-active-background-color: #f6e000;
  --button-active-border-color: #fab802;
}
