// Dev
//-----------
$dev: #f06;
$dev-1: rgb(20, 140, 220);
$dev-2: rgb(125, 34, 178);
$dev-3: yellowgreen;

// Namespace
// -----------
$namespace: 'mamutlove';

// Brand Colours
//-----------
:root {
  --neutral: transparent;
  --neutral-100: #ffffff;
  --neutral-200: #f7f7f7;
  --neutral-300: #D8D8D8;

  --primary: #FF0066;
  --secondary: #474646;
  --secondary-dark: #454d66;
}

.theme-dark {
  --neutral: #171115;
  --neutral-100: #1e171b;
  --neutral-200: #1e171b;
  --neutral-300: #1e171b;

  --primary: #f06;
  --secondary: rgb(226, 214, 218);
  --secondary-dark: rgb(255, 244, 248);
}