// Dev
//-----------
$dev: #f06;
$dev-1: rgb(20, 140, 220);
$dev-2: rgb(125, 34, 178);
$dev-3: yellowgreen;

// Namespace
// -----------
$namespace: 'mamutlove';

// Brand Colours
//-----------
:root {
  --white: #ffffff;
  --black: #000000;

  --primary: #FF0066;
  --primary-dark: #e4007c;
  --secondary: #474646;
  --secondary-dark: #454d66;
  --shadow: #D8D8D8;

  --button-primary-text: var(--secondary-text);
  --button-primary-background: #0094f8;
  --button-primary-border: #027cce;
  --button-primary-hover-text: var(--white);
  --button-primary-hover-background: #35aeff;
  --button-primary-hover-border: #0097fc;

  --button-secondary-text: var(--secondary-text);
  --button-secondary-background: #0bb970;
  --button-secondary-border: #099359;
  --button-secondary-hover-text: var(--white);
  --button-secondary-hover-background: #00d47b;
  --button-secondary-hover-border: #04be70;

  --button-active-text: #1c3b50;
  --button-active-background: #f6e000;
  --button-active-border: #fab802;
}
