@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

// Fonts
//-----------
$ff: "Courier", serif !default;
$ff-montserrat: "Montserrat", sans-serif;

// Font weight
//-----------
$regular: normal;
$bold: bold;

// Icon font
// -----------
$ff-icons: "ie-font";
