%fullWidthImage {
  width: 100vw;
  transform: translateX(-1rem);

  @include mq($from: inner_wrapper_computed) {
    --offset-image: calc((calc(100vw - var(--wrapper-max-width)) / 2) * -1);
    transform: translateX(var(--offset-image));
  }
  @include mq($from: desktop) {
    --offset-image: calc(
      (calc(var(--image-max-width) - var(--wrapper-max-width)) / 2) * -1
    );
    width: var(--image-max-width);
    transform: translateX(var(--offset-image));
  }
}
