// Easing
//-----------
//
// http://cubic-bezier.com/
// ease-in fast->slow
// ease-out slow->fast
$ease-in: cubic-bezier(0, 0, 0.24, 0.9);
$ease-out: cubic-bezier(0.59, 0, 0.68, 0.69);
$ease-in-bounce: cubic-bezier(0.03, 0.27, 0.49, 1.22);
$ease-out-bounce: cubic-bezier(0.59, 0, 0.59, 1.48);
$ease-linear: cubic-bezier(0.03, 0.27, 0.44, 0.93);
$ease-extreme: cubic-bezier(0.68, -0.55, 0.26, 1.55);
$linear: linear;

// Timing
//-----------
$fast: 150ms;
$medium: 250ms;
$slow: 350ms;
$ultraslow: 500ms;

$delay: 50ms;

// Grid
//-----------
:root {
  --wrapper-max-width: 34em; // 544px
  --max-width: 85.375em; // 64em
  --image-max-width: 58em; // 928px
}

// $offset: calc(((100vw - var(--wrapper-max-width)) / 2) * -1);
// $offset: calc((var(--wrapper-max-width) - var(--max-width)) / 2);

// Z-index
//-----------
$z-layers: (
  bottomless-pit: -9999,
  behind: -1,
  default: 1,
  overlay: 100,
  modal: 200,
  header: 300,
  video: 350,
  spinner: 400,
);

// Misc
//-----------
$radius: 0.5em;
