{{ define "main" }}
<main id="mainContent" class="main">
    <ul class="works__list">
        {{ range .Site.Params.project }}
        <li class="works__item">
            <h2>{{ .name }}</h2>
            <div class="works__item__tags">
                {{ range .categories }}
                <span>{{ . }}</span>
                {{ end }}
            </div>
            <p>{{ .description | safeHTML }}</p>
            <div>
                {{ if .demoUrl }}
                <a class="link" href="{{ .demoUrl }}" title="{{ .name }} demo">demo</a>
                {{ end }}
                <a class="link" href="{{ .codeUrl }}" title="{{ .name }} at github">github</a>
            </div>
        </li>
        {{ end }}
    </ul>
</main>
{{ end }}